html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-shrink: 0;
  background: beige;
  color:chocolate;
}

